nav {
  color: $navbar-font-color;
  background-color: $nav-bg-color;
  width: 100% ;
  height: $navbar-height-mobile;
  line-height: $navbar-line-height-mobile;

  a { color: $navbar-font-color; }

  .nav-wrapper {
    position: relative;
    height: 100%;
  }

  // Navbar Links
  ul {
    margin-left: 390px;
    //margin-right: 305px;
    list-style-type: none;

    li {
      float: left;
      margin-right: 95px;
    }

    a {
      font-size: $navbar-font-size;
      color: $navbar-font-color;
      display: block;
      padding: 0 15px;
      cursor: pointer;
    }

  }
}

/*********************
  Media Query Classes
**********************/
.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none !important;
  }
}
