nav {
  position: absolute;
  width:100%;

  background-color: $nav-bg-color;
  min-height: $navbar-height-main;
  z-index: 1;

  .logo {
    float: left;
    margin-left: 133px;
    font-size: $font-size-14;
    line-height: $navbar-height-main;
    cursor: pointer;
  }
  .main-menu {
    margin-right: 290px;
    list-style: none;
    float: right;

    li {
      margin-left: 130px;
      float: left;

      font-size: $font-size-14;
      line-height: $navbar-height-main;
      color: $black-0;
      cursor: pointer;
      @include normal;

      &:hover .sub-menu {
        display: block;
      }

      .sub-menu {
        display: none;
        position:absolute;
        width: 100%;
        background-color: #f4f4f4;
        min-height: $navbar-height-main;
        top: $navbar-height-main;
        right: 0;
        list-style: none;

        @include z-depth-1;

        ul {
          margin-right: 185px;
          list-style: none;
          float: right;

          li {
            margin: 0 20px;
            line-height: $navbar-height-main;
          }
        }
      }
    }
  }
}
//
// .isSub {
//   background-color: $nav-sub-bg-color;
//   height: $navbar-height-sub;
//
//   .main-menu {
//     a {
//       line-height: $navbar-height-sub;
//     }
//
//     .sub-menu {
//       top: $navbar-height-sub;
//     }
//   }
//
//   @include z-depth-1;
// }
