// Navbar
// ==========================================================================
$nav-bg-color: rgba(255, 255, 255, 0.3) !default;
$navbar-height-mobile: 50px !default;
$navbar-line-height-mobile:  $navbar-height-mobile !default;
$navbar-font-size: 14px !default;
