// Navbar
// ==========================================================================
$nav-bg-color: rgba(255, 255, 255, 0.3) !default;
$nav-sub-bg-color: rgba(104, 204, 176, 0.7) !default;

$navbar-height-main: 50px !default;
$navbar-height-sub: 60px !default;
