// Navbar
// ==========================================================================
$navbar-brand-font-size: 2.1rem !default;
$navbar-font-color: #7f7f7f !default;
$nav-bg-color: rgba(255, 255, 255, 0.3) !default;
$navbar-height-mobile: 50px !default;
$navbar-line-height-mobile:  $navbar-height-mobile !default;
$navbar-font-size: 1rem !default;

$medium-screen: 992px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
