.center-align {
  text-align: center;
}

.valign-wrapper {
  display: flex;
  align-items: center;
}

//Drop shadow
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

// Text Align
.left-align {
  text-align: left;
}
.right-align {
  text-align: right
}
.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}

/*********************
  Media Query Classes
**********************/
.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none !important;
  }
}
