//Grid

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.no-pad {
    padding: 0;
  }
  &.no-pad-bot {
    padding-bottom: 0;
  }
  &.no-pad-top {
    padding-top: 0;
  }
}

@mixin reset-offset {
  margin-left: auto;
  left: auto;
  right: auto;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  // Clear floating children
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    float: left;
    box-sizing: border-box;
    //padding: 0 $gutter-width / 2;
    min-height: 1px;

    $i: 1;
    @while $i <= $num-cols {
      $width: unquote((100 / ($num-cols / $i)) + "%");
      &.s#{$i} {
        width: $width;
        @include reset-offset;
      }
      $i: $i + 1;
    }
  }
}

/*********************
  Media Query Classes
**********************/
.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none !important;
  }
}
