* {
  margin: 0;
  padding: 0;
}

input {
  &:focus::-webkit-input-placeholder { color: transparent; }
  &:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
  &:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
  &:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */
}
