@mixin popup-reset-options($width, $height) {
  position: relative;
  overflow: hidden;
  width: $width;
  min-height: $height;
  margin: auto;
  border-radius: 2px;
  background: $white-0;

  z-index: 2;
}

.popup_container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: $popup-bg;

  color: $gray-1;
  z-index: 2;

  h3 {
    font-size: $font-size-20;
    color: inherit;
    margin: 0 0 7px 0;
  }

  p {
    width: 208px;
    height: auto;
    font-size: $font-size-14;
    color: inherit;
    margin: 0 auto;

    &.warning {
      margin-top: 15px;
      width: 230px;
      font-size: $font-size-12;
      color: $emerald-1;
    }
  }

  //팝업 Close 버튼
  .close-btn {
    position: absolute;
    left: 26px;
    cursor: pointer;
  }
  .close-btn-right {
    position: absolute;
    right: 26px;
    cursor: pointer;
  }
}
