* {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif; /* 1 */

  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

a {
  text-decoration: none;
}

html {
  line-height: 1.5;

  @media #{$zero} {
    font-size: 8px;
  }

  @media #{$medium} {
    font-size: 10px;
  }

  @media #{$large} {
    font-size: 10px;
  }

  color: $off-black;
}
