a {
  text-decoration: none;
}

html{
  line-height: 1.5;

  @media #{$zero} {
    font-size: 14px;
  }

  @media #{$medium} {
    font-size: 14.5px;
  }

  @media #{$large} {
    font-size: 15px;
  }

  color: $off-black;
}

body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif; /* 1 */
  font-weight: normal;
}
