// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Global
//  2. Typography
//  3. Grid
//  4. Navbar
//
// ==========================================================================

// Media Query Ranges
$zero-screen: 0px !default;
$small-screen: 600px !default;
$small-screen-up: 601px !default;
$medium-screen: 992px !default;
$medium-screen-up: 993px !default;
$large-screen: 1200px !default;
$large-screen-up: 1201px !default;


$zero-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$large: "only screen and (min-width : #{$large-screen})" !default;
$medium: "only screen and (min-width : #{$medium-screen})" !default;
$zero: "only screen and (min-width : #{$zero-screen})" !default;
// 2. Typography
// ==========================================================================

$off-black: rgba(0, 0, 0, 0.87) !default;

$font-size-11: 11px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;

// 3. Grid
// ==========================================================================
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;

// 4. Color
// ==========================================================================
$white: #ffffff !default;
$white-0 : #fafafa !default;

$gray-0: #676767 !default;
$gray-1: #7f7f7f !default;
$gray-2: #979797 !default;
$gray-3: #d8d8d8 !default;
$gray-4: #f4f4f4 !default;
$gray-5: #c1c1c1 !default;
$gray-6: #b3b3b3 !default;
$gray-7: #797979 !default;
$gray-8: #e6e6e6 !default;
$gray-9: #dfdfdf !default;
$gray-10: #f6f6f6 !default;

$red : #ff5959 !default;

$blue-0: #3a5a96 !default;

$black-0: #555555 !default;

$emerald-0: #d3f2ea !default;
$emerald-1: #68ccb0 !default;

$club-page-bg-0: $gray-10;
$club-page-bg-1: #fdfdfd !default;

$popup-bg: rgba(0,0,0, 0.5) !default;

// 5. Button
// ============================================================

//Small and wide (카드 리스트 작은 버튼)
$btn-height: 25px !default;
$btn-width: 70px !default;

//Small and regular (일반 회원가입 팝업 작은 버튼)
$btn-height-0: 36px !default;
$btn-width-0: 75px !default;

//big and wide (일반 회원가입 팝업 큰 버튼)
$btn-height-1: 40px !default;
$btn-width-1: 205px !default;

//big and thick (일반 회원가입 보내기 버튼)
$btn-width-5: 90px !default;

//big and thick (클럽 회원가입 큰 버튼)
$btn-height-2: 56px !default;
$btn-width-2: 75px !default;

//big and thick (클럽 회원가입 큰 긴 버튼)
$btn-width-3: 105px !default;

//big and thick (클럽 회원가입 보내기 버튼)
$btn-height-4: 72px !default;
$btn-width-4: 245px !default;

$btn-border: 0px !default;
$btn-radius: 2px !default;

$btn-padding: 0px !default;

$btn-text-white-color: $white !default;
$btn-background-emerald-color: $emerald-1 !default;

$btn-text-gray-color: $gray-1 !default;
$btn-background-gray-color: $gray-4 !default;

$btn-background-gray-5-color: $gray-5 !default;

// 6. url
$get-path-from-components-to-images: '../../../images' !default;


// 7. Animation height
