// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Global
//  2. Typography
//  3. Grid
//  4. Navbar
//
// ==========================================================================

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$zero-screen: 0px !default;

$small-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$medium-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$large: "only screen and (min-width : #{$large-screen})" !default;
$medium: "only screen and (min-width : #{$medium-screen})" !default;
$zero: "only screen and (min-width : #{$zero-screen})" !default;

// 2. Typography
// ==========================================================================

$off-black: rgba(0, 0, 0, 0.87) !default

$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;

// 3. Grid
// ==========================================================================
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
