.findUserId-container {
  position: absolute;
  left: 0;
  background-color: $white-0;
  width: 100%;
  height: 100%;

  .container {
    margin-top: 50px;
    padding: 3.4% 0 0 0;
    @include center;
    color: $gray-1;
    overflow: hidden;

    .fixed {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  h1 {
    font-size: 24px;
    color: inherit;
    margin-bottom: 10px;
    @include thick;
  }

  .line {
    height: 390px;
    margin: 54px 0;
    float:left;
    width: 2px;
    /*Vertical*/
    background-image: linear-gradient($gray-3 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 2px 20px;
    background-repeat: repeat-y;
  }

  p {
    display: inline-block;
    width: 350px;
    margin-bottom: 20px;
    font-size: $font-size-12;

    span {
      color: red;
    }
  }

  section {
    margin: 0 auto;
    padding: 27px 0;
    font-size: $font-size-14;
    width: 440px;
    background-color: #f2f2f2;

    @include center;
  }

  .input-register-left,
  .input-register-right {
    float: left;
  }

  .input-register-plain {
    display: inline-block;
  }

  .input-register-plain,
  .input-register-left,
  .input-register-right {
    width: 414px;
    margin: 0 8.6%;

    h3 {
      margin: 72px 0 6px 0;
      font-size: $font-size-18;
      color: $emerald-1;
    }

    & > .input-register {
      text-align: left;
    }

    .input-register {
      position: relative;
      margin-bottom: 10px;
      width: 100%;

      a {
        font-size: 12px;
        display: block;
        margin-top: 5px;
        margin-bottom: 15px;

        @include right-align;
      }

      input[type=password],
      input[type=text] {
        width: 100%;
        height: 56px;
        border-radius: 2px;
        background-color: $white;
        border: solid 1px #dfdfdf;
        padding-left: 121px;
        font-size: $font-size-14;
      }

      input[type=button] {
        position: absolute;
        top: 0;
        right: 0;
        @include btn-reset-shape($btn-width-2, $btn-height-2, $btn-background-gray-5-color);
        @include btn-reset-font($font-size-14, $btn-text-white-color, $btn-height-2);

        &.inspect-phone-btn {
          width: $btn-width-3;
        }
      }

      .input-title {
        position: absolute;
        left: 14px;
        top: 16px;
        font-size: 16px;
        color: inherit;
      }
    }
  }

  .submit-register {
    clear: both;

    input[type=button] {
      margin: 27px 0 75px 0;
      @include btn-reset-shape($btn-width-4, $btn-height-4, $emerald-1);
      @include btn-reset-font($font-size-20, $white, $btn-height-4);
      @include thick;
    }
  }
}
