.login-container {
  @include popup-reset-options(330px, 27%);
  padding: 20px 0;

  > .login-inner {
    float: left;
    width: 100%;

    @include center;

    > .p {
      width: 210px;
      color: $emerald-1;
      margin-bottom: 30px;
    }

    .fixed {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    form {
      margin: 0 auto;
      width: 205px;
      height: 100%;

      input[type=text] {
        margin-bottom: 24.5px;
      }
      input[type=password] {
        margin-bottom: 14.5px;
      }

      input[type=text],
      input[type=password] {
        padding-bottom: 3px;
        box-sizing: border-box;
        width: 100%;
        height: 28px;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px #bcbcbc;
        font-size: $font-size-14;
        outline: none;

        &.error {
          border-bottom: solid 1px red;
        }
      }

      > .type {
        width : 100%;
        @include right-align;

        input[type=checkbox] {
          position: absolute;
          left: -999rem;
        }

        label {
          vertical-align: top;
          margin-right: 2px;
        }

        input[type="checkbox"] + label::before {
          width: 18px;
          height: 18px;
          line-height: 18px;

          box-sizing: border-box;
          display: inline-block;
          border-radius: 2px;
          background-color: #ffffff;
          border: solid 1px #dfdfdf;

          cursor: pointer;
          content: ' ';
        }

        input[type="checkbox"]:checked + label::before {
          background-color: $emerald-1;
        }
      }

      input[type=submit] {
        @include btn-reset-shape($btn-width-1, $btn-height-0, $btn-background-emerald-color);
        @include btn-reset-font($font-size-14, $btn-text-white-color, $btn-height-0);
        margin: 10px 0 6px 0;
      }

      > .gray-btn  {
        @include btn-reset-shape($btn-width-1, $btn-height-0, $gray-6);
        @include btn-reset-font($font-size-14, $btn-text-white-color, $btn-height-0);
      }
    }
  }
}
