// Main Top
.top-container {
  height: $header-top-container-height;
  background-image: url("#{$get-path-from-components-to-images}/header/header_bg.png");
  background-repeat: no-repeat;
  background-position: right 100px center;
  background-color: $emerald-0;

  .header-contents-container {
    padding: $header-contents-container-padding;

    h1 {
      font-size: $header-contents-h1-font-size;
      color: $gray-0;

      @extend .light;
    }

    p {
      max-width: $header-contents-p-width;
      width:100%;
      height: $header-contents-p-height;
      margin-bottom: 1.9%;
      font-size: $header-contents-p-font-size;
      color: $gray-0;

      @extend .left-align;
    }

    pre {
      padding: $header-contents-pre-padding;
      font-size: $header-quoting-pre-font-size;
      color: $gray-1;
    }

    .input-field {
      position: relative;
      margin: 0;
      height: 100%;

      input {
        box-sizing: border-box;
        width: $header-search-input-width;
        height: $header-search-input-height;
        text-indent: 50px;
        border: solid 0.5px #{$gray-2};
        background-color: transparent;
      }

      label {
        position: absolute;
        left: 15px;
        top: 9px;
      }
    }
  }
}
