// Main Top
.top-container {
  height: $header-top-container-height;
  background-color: $emerald-0;

  .container {
    background-image: url("#{$get-path-from-components-to-images}/header/header_bg.png");
    background-repeat: no-repeat;
    height: 100%;
  }

  .header-contents-container {
    padding: $header-contents-container-padding;

    h1 {
      font-size: $header-contents-h1-font-size;
      color: $gray-0;

      @include light;
    }

    p {
      max-width: $header-contents-p-width;
      width:100%;
      height: $header-contents-p-height;
      margin-bottom: 3.3vh;
      font-size: $header-contents-p-font-size;
      color: $gray-0;

      @include left-align;
    }

    .input-field {
      position: relative;
      margin: 0;
      height: 100%;

      input {
        box-sizing: border-box;
        width: $header-search-input-width;
        height: $header-search-input-height;
        text-indent: 50px;
        border: solid 0.5px #{$gray-2};
        background-color: transparent;
      }

      label {
        position: absolute;
        left: 15px;
        top: 9px;
      }
    }

    pre {
      margin: $header-contents-pre-margin;
      font-size: $header-quoting-pre-font-size;
      color: $gray-1;
    }

    section {
      margin: $header-botton-to-below-margin;
      @include center;

      .arrow-to-bottom {
        cursor: pointer;
      }
    }

  }
}
