// 1. layout
//========================================================================
$header-top-container-height: 100vh !default;

$header-contents-container-padding: 21vh 10% 0 10% !default;

$header-search-input-width: 205px !default;
$header-search-input-height: 35px !default;

$header-contents-h1-font-size: 7.2vh !default;

$header-contents-p-width: 377px !default;
$header-contents-p-height: 100% !default;
$header-contents-p-font-size: 2.8vh !default;

$header-contents-pre-margin: 34vh 0 1.32% 0 !default;
$header-quoting-pre-font-size: 2.8vh !default;

$header-botton-to-below-margin: 0 0 4vh 0 !default;
