// 1. layout
//========================================================================
$header-top-container-height: 723px !default;

$header-search-input-width: 205px !default;
$header-search-input-height: 35px !default;

$header-contents-h1-font-size: 52px !default;

$header-contents-p-width: 408px !default;
$header-contents-p-height: 58px !default;
$header-contents-p-font-size: 20px !default;

$header-quoting-pre-font-size: 20px !default;
