// 1. layout
//========================================================================
$header-top-container-height: 56.5% !default;

$header-contents-container-padding: 6.95% 10% 0 10% !default;

$header-search-input-width: 205px !default;
$header-search-input-height: 35px !default;

$header-contents-h1-font-size: 5.2rem !default;

$header-contents-p-width: 377px !default;
$header-contents-p-height: 100% !default;
$header-contents-p-font-size: 2rem !default;

$header-contents-pre-padding: 19.4% 0 9.09% 0 !default;
$header-quoting-pre-font-size: 2rem !default;
