.comment-card {
  width: 100%;
  height: auto;
  background-color: $white;

  .comment-card-inner {
    overflow: hidden;

    .comment-card-who,
    .comment-card-contents {
      position: relative;
    }

    .comment-card-who {
      width: 24%;
      float: left;

      @include center;

      .comment-image {
        padding-top: 51px;
        display: inline-block;

        h5 {
          font-size: $font-size-12;
          margin-top: 10px;
        }

        .default {
          padding: 10px;
          border-radius: 100px;
          background-color: $gray-6;

          @include z-depth-1;
        }
      }
    }

    .comment-card-contents {
      width: 76%;
      display: inline-block;

      .comment-card-date {
        width: 100%;
        position: relative;
        height: 41px;

        .border2 {
          position: absolute;
          left: 6.5px;
          top: 40px;
          width: 95%;
          height: 1px;
          background-color: $gray-3;
        }

        .comment-top {
          line-height: 41px;
          padding: 0 13px;

          color: $gray-7;
          font-size: $font-size-12;

          @include left-align;

          span {
            margin-left: 20%;

            i {
              font-size: $font-size-15;
              margin: 0 2.5px;
              color: $gray-3;
            }
          }
        }
      }

      .border {
        position: absolute;
        left: 0;
        top: 5.5%;
        width: 1px;
        height: 90%;
        background-color: $gray-3;
      }

      .comment-contents {
        display: block;
        width: 100%;
        padding: 15px;

        font-size: $font-size-12;
        @include left-align;
      }
    }
  }
}
