.comment-container {
  height: auto;
  color: $gray-7;

  .comment-inner {
    padding: 60px 10.6% 60px 0;

    .comment-wrapper {
      @include right-align;

      .comment {
        display: inline-block;
        //반응형 width 변경
        min-width: 400px;
        width: 58%;

        .comment-top {
          @include left-align;

          h4 {
            display: inline-block;
            font-size: $font-size-16;
            color: $gray-7;
            margin-right: 4%;
          }

          .star-rating {
            margin-right: 15.6%;

            i {
              font-size:20px;
              margin: 0 0.5%;
            }
          }

          h5 {
            display: inline-block;
            font-size: $font-size-16;
            color: $gray-6;
          }
        }

        .comment-create {
          position:relative;
          width: 100%;
          height: 120px;
          background-color: $white;
          border: solid 1px $gray-9;
          margin-top: 17px;

          .star-rating {
            position:absolute;
            left:0;
            top:0;
            width: 23.9%;
            line-height: 120px;

            @include center;

            span {
              display: inline-block;

              .basic {
                font-size: $font-size-20;
                margin: 0 2.5px;
                cursor: pointer;
              }
            }
          }

          textarea,
          button {
            position: absolute;
            top:0;
          }
          textarea {
            left:23.9%;
            width: 65.1%;
            height: 118px;
            padding: 10px 5px 10px 5px;

            border: none;
            resize: none;
            outline: none;

            font-size: $font-size-14;
          }

          button  {
            right:0;
            @include btn-reset-shape(11%, 120px, $btn-background-emerald-color);
            @include btn-reset-font($font-size-14, $btn-text-white-color, 120px);
          }
        }

        .comment-list {
          margin-top: 10px;

          .whenEmptyData {
            width: 100%;
            padding: 44px 0;
            background-color: $white;

            h2 {
              font-size: $font-size-20;
            }

            p {
              font-size: $font-size-12;
            }
            @include center;
          }

          ul {
            list-style: none;
            li {
              margin-bottom: 10px;
            }
          }

          // .pagination {
          //   margin-top: 5px;
          //   display:inline-block;
          //   width: 100%;
          //   color: #797979;
          //   @include center;
          //
          //   > li {
          //     display:inline;
          //     > a,
          //     > span {
          //       display:inline-block; // Collapse white-space
          //       padding: 3px 8px;
          //       color: inherit;
          //       background-color: $white;
          //       border: 1px solid $gray-9;
          //       margin: 0 10px;
          //     }
          //
          //     > .previous,
          //     > .next {
          //       margin: 0;
          //       color: inherit;
          //       border: none;
          //       background: transparent;
          //     }
          //
          //     > .previous {
          //       float: left;
          //     }
          //     > .next {
          //       float: right;
          //     }
          //
          //     &:first-child {
          //       > a,
          //       > span {
          //         display: none;
          //       }
          //     }
          //     &:last-child {
          //       > a,
          //       > span {
          //         display: none;
          //       }
          //     }
          //   }
          //
          //   > li > a,
          //   > li > span {
          //     &:hover,
          //     &:focus {
          //       z-index: 2;
          //       color: $red;
          //     }
          //   }
          //
          //   > .active > a,
          //   > .active > span {
          //     &,
          //     &:hover,
          //     &:focus {
          //       z-index: 3;
          //       color: $red;
          //     }
          //   }
          //
          //   > .disabled {
          //     > span,
          //     > span:hover,
          //     > span:focus,
          //     > a,
          //     > a:hover,
          //     > a:focus {
          //       color: $gray-3;
          //     }
          //   }
          // }
        }
      }
    }
  }
}
