.club-container {
  position: relative;
  left: 0;
  top: 50px;
  margin-bottom:50px;
}

.imageNavigation-container,
.profile-container,
.snippet-container,
.portfolio-container {
  width: 100%;

  .container {
    position: relative;
  }
}

.imageNavigation-container,
.profile-container,
.smiliarClub-container,
.comment-container {
  background-color: $white-0;
}

.comment-container,
.portfolio-container,
.profile-container,
.smiliarClub-container {
  .title-wrapper {
    margin: 0 0 0 10.5%;

    h3 {
      font-size: $font-size-20;
      color: inherit;
    }

    span {
      display: inline-block;
      background-color: $gray-5;
      width: 75px;
      height: 2px;
      margin-bottom: 5px;
    }
  }
}

.edit-btn {
  position: absolute;
  top: 25px;
  right: 46px;

  button {
    margin-left: 5px;
  }

  .emerald-btn {
    @include btn-reset-shape(60px, 40px, $emerald-1);
    @include btn-reset-font($font-size-18, $btn-text-white-color, 40px);
  }
  .gray-btn {
    @include btn-reset-shape(60px, 40px, $gray-5);
    @include btn-reset-font($font-size-18, $btn-text-white-color, 40px);
  }
}

.left-arrow {
  width: 20px;
  height: 30px;
  background: url("#{$get-path-from-components-to-images}/icons/ic-arrow-left.png") no-repeat 50% 50%;
}

.right-arrow {
  width: 20px;
  height: 30px;
  background: url("#{$get-path-from-components-to-images}/icons/ic-arrow-right.png") no-repeat 50% 50%;
}
