.imageNavigation-container {
  height: 660px;

  .container {
    height: 100%;

    .imageNavigation-inner {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      background-color: #e6e6e6;
      overflow: hidden;
      height: 100%;
      width: 880px;

      .default-image {
        display: inline-block;
        width: 880px;
        height: 660px;
        background: url("#{$get-path-from-components-to-images}/icons/ic-image-black-24-px.svg") no-repeat 50% 50%;
        background-size: 80px;
        border: 0;
        outline: 0;
      }

      .add-image {
        position: absolute;
        width: 100px;
        left: 44.3%;
        top: 41%;

        span {
          display: block;
          width: 100px;
          height: 100px;
          border-radius: 100px;
          background: url("#{$get-path-from-components-to-images}/icons/ic-add.png") no-repeat 50% 50%;
          background-color: #b3b3b3;
          cursor: pointer;
        }

        h3 {
          margin-top: 5px;
          color: #797979;
          font-size: $font-size-14;
          width: 100%;
          @include center;
        }
      }

      .slick-dots {
        position: absolute;
        bottom: 32px;
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        width: 100%;

        li {
          position: relative;
          display: inline-block;
          margin: 0 2.5px;
          padding: 0;
          cursor: pointer;
        }

        li button {
          border: 0;
          background: transparent;
          outline: none;
          color: transparent;
        }

        li button:hover,
        li button:focus { outline: none; }

        li button:hover:before,
        li button:focus:before { opacity: 1; }

        li button:before {
          content: "•";
          width: 15px;
          height: 15px;
          font-size: 40px;
          line-height: 20px;
          text-align: center;
          color: black;
          opacity: 0.25;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        li.slick-active
        button:before {
          color: black;
          opacity: 0.75;
        }
      }

      .left-arrow,
      .right-arrow {
        cursor: pointer;
        top: 314px;
      }

      .left-arrow {
        position: absolute;
        left: 30px;
      }

      .right-arrow {
        position: absolute;
        right: 30px;
      }

      .my-image {
        position: absolute;
        left: 30px;
        top: 25px;
        border-radius: 100px;
        border: 0;
        width: 104px;
        height: 104px;
        background-color: $gray-3;

        @include z-depth-1;
        @include thick;

        &.myPage {
          background-color: $white;
        }
        &.myPage:before {
          font-size: $font-size-20;
          color: $emerald-1;
          content: '등록';
        }
      }
    }
  }
}
