.portfolio-container {
  height: auto;
  color: $gray-7;

  .portfolio-inner {
    padding: 60px 0;

    .title-wrapper {
      margin-bottom: 60px;
    }

    .portfolio-card-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;

      .portfolio-slide-wrapper {
        min-width: 100%;
        max-width: 9999px;
        height: 500px;
        //화면 작아질 시 마진을 없애야 함
        overflow: hidden;
        @include center;

        .portfolio-obj,
        .portfolio-mypage-add {
          float: left;
          padding-bottom: 5px;
        }

        .moveToLeft {
          position: relative;
          transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
          transform: translate3d(-205px, 0, 0);
        }

        .moveToRight {
          position: relative;
          transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
          transform: translate3d(0, 0, 0);
        }

        .portfolio-mypage-add,
        .no-items {
          width: 416px;
          height: 480px;
          cursor: pointer;
          margin-right: 10px;
          border: solid 1px #d8d8d8;
        }

        .no-items {
          display: inline-block;
        }
      }

      .left-arrow,
      .right-arrow {
        position: absolute;
        cursor: pointer;
        top: 145px;
      }

      .left-arrow {
        left: 11%;

      }
      .right-arrow {
        right: 11%;
      }
    }
  }
}
