.portfolio-card {
  width: 416px;
  height: 480px;

  @include z-depth-1;

  .card-image {
    height: 302px;

    .default-image {
      width: 100%;
      height: 100%;
      background: url("#{$get-path-from-components-to-images}/icons/ic-default-image.png") no-repeat 50% 50%;
      background-size: 70px;
      background-color: $gray-8;
    }
  }
  .card-content-container {
    background-color: $white;
    height: auto;
    padding: 25px 0 22px 31px;
    color: $gray-1;
    @include left-align;

    section {
      width: 353px;


      h4 {
        width: 173px;
        height: 24px;
        float: left;
        overflow: hidden;
        font-size: $font-size-16;
        color: inherit;
      }

      h5 {
        width: auto;
        height: 24px;
        line-height: 24px;
        float: right;
        font-size: $font-size-12;
      }
    }

    p {
      clear: both;
      font-size: $font-size-12;
      padding-top: 11px;
      width: 353px;
      min-height: 60px;
    }

    .portfolio-view-btn,
    .portfolio-edit-btn {
      width: 353px;

      button {
        margin-top: 16px;
      }
    }

    .portfolio-view-btn {
      @include center;

      button  {
        margin-top: 16px;
        @include btn-reset-shape(79px, 30px, $gray-6);
        @include btn-reset-font($font-size-12, $white, 30px);
      }
    }

    .portfolio-edit-btn {
      @include right-align;

      button  {
        @include btn-reset-shape(79px, 30px, $emerald-1);
        @include btn-reset-font($font-size-12, $white, 30px);
      }
    }
  }
}
