.portfolio-container {
  height: auto;
  color: $gray-7;

  .portfolio-inner {
    padding: 60px 0;

    .title-wrapper {
      margin-bottom: 60px;
    }

    .portfolio-card-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;


      .portfolio-slide-wrapper {
        width: 1704px;
        height: 500px;
        //화면 작아질 시 마진을 없애야 함
        margin-left: -235px;

        span {
          display: inline-block;
          padding-bottom: 5px;
        }
      }

      .left-arrow,
      .right-arrow {
        position: absolute;
        cursor: pointer;
        top: 145px;
      }

      .left-arrow {
        left: 11%;

      }
      .right-arrow {
        right: 11%;
      }
    }
  }
}
