.portfolio-container {
  height: auto;
  color: $gray-7;

  .portfolio-inner {
    padding: 60px 0;

    .title-wrapper {
      margin-bottom: 10px;
    }

    .portfolio-card-wrapper {
      position: relative;
      width: 100%;

      .portfolio-slide-wrapper {
        width: 100%;
        height: 550px;
        padding-top: 50px;
        //화면 작아질 시 마진을 없애야 함
        overflow: hidden;
        @include center;

        .slider,
        .not-slider {
          width: 100%;
          padding: 5px 0;
        }

        .slider {
          .portfolio-obj:first-child {
            margin-right: 2.5px;
          }
          .portfolio-obj {
            float: left;
            margin: 0 2.5px 5px 0;
          }
        }

        .not-slider {
          .portfolio-obj {
            display: inline-block;
            margin: 0 10px;
          }
        }

        .portfolio-add {
          display: inline-block;
          width: 416px;
          height: 480px;
          cursor: pointer;
          border: solid 1px #d8d8d8;

          background-image: url("#{$get-path-from-components-to-images}/icons/ic-plus.png");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 70px;
          background-color: $white;
        }
        //
        // .moveToLeft {
        //   position: relative;
        //   transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        //   transform: translate3d(-205px, 0, 0);
        // }
        //
        // .moveToRight {
        //   position: relative;
        //   transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        //   transform: translate3d(0, 0, 0);
        // }
        //

        //
        // .no-items {
        //   display: inline-block;
        // }
      }

      .left-arrow,
      .right-arrow {
        position: absolute;
        top: 145px;
      }

      .left-arrow {
        left: 11%;

      }
      .right-arrow {
        right: 11%;
      }
    }
  }
}
