.snippet-container {
  height: auto;

  .container {
    .snippet-inner {
      max-width: 880px;
      margin-left: auto;
      margin-right: auto;
      padding: 60px 0;
      color: $gray-7;

      @include center;

      .title {
        font-size: $font-size-24;
        color: inherit;
      }

      p {
        width: 76%;
        min-height: 58px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

        font-size: $font-size-20;
        color: inherit;
      }

      textarea {
        width: 76%;
        height: 70px;
        padding: 5px 0 0 5px;
        overflow-x: hidden;
        overflow-y: scroll;
        outline: none;
        resize: none;

        font-size: $font-size-20;
      }
    }
  }
}
