.snippet-container {
  height: auto;

  .container {
    .snippet-inner {
      max-width: 880px;
      margin-left: auto;
      margin-right: auto;
      padding: 60px 0 40px 0;
      color: $gray-7;

      @include center;

      // input[type=text] {
      //   width: 100%;
      //   height: 35px;
      //   font-size: 14px;
      //   border: solid 1px $gray-3;
      //   outline: none;
      //   @include center;
      // }
      //
      // a {
      //   display: block;
      //   width: 100%;
      //   font-size: 12px;
      //   display: block;
      //   margin-top: 5px;
      //   margin-bottom: 15px;
      //   @include right-align;
      // }

      .name {
        margin-left: auto;
        margin-right: auto;
        width: 76%;

        h1 {
          display:inline;
          font-size: $font-size-24;
          color: inherit;
        }
      }

      p {
        width: 76%;
        min-height: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

        font-size: $font-size-20;
        color: inherit;

        textarea {
          width: 100%;
          overflow-x: hidden;
          overflow-y: hidden;
          border: solid 1px $gray-3;
          outline: none;
          resize: none;

          font-size: inherit;
          @include center;
        }
      }
    }
  }
}
