.register-selection-container {
  @include popup-reset-options(330px, 21%);
  top: 13.4%;
  z-index:2;

  > .register-selection-inner {
    float: left;
    width: 100%;
    @include center;

    p {
      span {
        color: $emerald-1;
      }
    }


    > .emerald-btn  {
      @include btn-reset-shape($btn-width-1, $btn-height-0, $btn-background-emerald-color);
      @include btn-reset-font($font-size-14, $btn-text-white-color, $btn-height-0);
      margin: 15px 0 6px 0;
    }

    > .blue-btn  {
      @include btn-reset-shape($btn-width-1, $btn-height-0, $blue-0);
      @include btn-reset-font($font-size-14, $white, $btn-height-0);
    }
  }
}
