.type-of-Club-Selection-inner {
  @include popup-reset-options(500px, 300px);
  left: 30.5%;
  right: 30.5%;
  top: 13.4%;
  bottom: 19.6%;
  z-index: 2;

  @include center;


  p {
    &.notSelected {
      color: red;
    }
  }

  ul {
    width: 100%;
    list-style: none;
    float: left;
    @include center;

    li {
      display: inline-block;

      &:first-child {
        margin-right: 30px;
      }
      &:last-child {
        margin-left: 30px;
      }
    }

    .circle {
      font-size: 16px;
      color: $white;
      line-height: 120px;
      width: 120px;
      height: 120px;
      background-color: #d8d8d8;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;

      @include thick;
      @include z-depth-1;

      &:hover,
      &.selected {
        background-color: $emerald-1;
      }

    }
  }

  .emerald-btn {
    float: right;
    @include btn-reset-shape($btn-width-0, $btn-height-0, $btn-background-emerald-color);
    @include btn-reset-font($font-size-14, $btn-text-white-color, $btn-height-0);
  }

  .gray-btn  {
    float: left;
    @include btn-reset-shape($btn-width-0, $btn-height-0, $btn-background-gray-color);
    @include btn-reset-font($font-size-14, $btn-text-gray-color, $btn-height-0);
  }

  .emerald-btn, .gray-btn {
    margin: 31px 28px 19px 28px;
  }
}
