.category {
  .category_title {
    font-size: $title-size;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $gray-2;
    margin-bottom:36px;
  }

  .good_icon {
    vertical-align: middle;
    padding:0 5px 5px 0;
  }

  .category_list {
    max-width: $category-list-width;
    margin-left: auto;
    margin-right: auto;

    ul {
      list-style-type: none;
      float: left;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      font-weight: 200;
      margin: 0 5px 5.5px 5px;
    }

    .btn  {
      @include btn-reset-shape($category-btn-width, $category-btn-height, $btn-background-gray-color);
      @include btn-reset-font($btn-font-size, $btn-text-gray-color, $category-btn-height);
      @include btn-reset-offset($btn-padding);
    }
  }
}
