.category {
  @extend .center-align;

  .category_title {
    font-size: $title-size;
    color: $gray-1;
    margin-bottom:36px;
    @extend .light-0;
  }

  .good_icon {
    vertical-align: middle;
    padding:0 5px 5px 0;
  }

  .category_list {
    max-width: $category-list-width;
    margin-left: auto;
    margin-right: auto;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @extend .left;
      @extend .center;
    }

    li {
      display: inline-block;
      margin: 0 5px 5.5px 5px;
    }

    .btn  {
      @extend .light;
      @include btn-reset-shape($category-btn-width, $category-btn-height, $btn-background-gray-color);
      @include btn-reset-font($btn-font-size, $btn-text-gray-color, $category-btn-height);
      @include btn-reset-offset($btn-padding);
    }
  }
}
