// 2. Font
// ============================================================
$title-size: 28px !default;
$btn-font-size: 16px !default;

// 3. Layout
// ============================================================
$category-list-width: 680px !default;

// 4. Button
// ============================================================
$category-btn-height: 44.5px !default;
$category-btn-width: 160px !default;
