// 1. Color
// ============================================================

$white: #ffffff !default;
$thick-gray: #7f7f7f !default;
$light-gray: #d8d8d8 !default;

// 2. Font
// ============================================================
$title-size: 28px !default;
$btn-font-size: 16px !default;

// 3. Layout
// ============================================================
$category-list-width: 680px !default;

// 4. Button
// ============================================================

$btn-border: 0px !default;
$btn-radius: 2px !default;
$btn-height: 44.5px !default;
$btn-width: 160px !default;
$btn-padding: 0px !default;

$btn-raised-color: #7f7f7f !default;
$btn-background-color: #f4f4f4 !default;
