.card {
  position : relative;
  max-width: $card-width;
  height: $card-height;
  @extend .z-depth-1;

  .card-image {
    height: $image-height;
    overflow: hidden;
  }

  .default {
    display: block;
    height: $image-height;
    background-color: $gray-1;
    text-align:center;
    padding: 109px 0 0 0;
  }

  .float{
  	position: absolute;
  	width:69.6px;
  	height:69.4px;
  	bottom:101.6px;
  	right:17.4px;
    background-color: $white;
  	border-radius:50px;
  	@extend .center;
    @extend .z-depth-1;

    img {
      padding:21px 0 0 0;
    }
  }

  .card-content-container {
    max-height: $content-container-height;
    padding: $content-box-padding;
    color: $gray-2;

    .card-title {
      font-size: $title-size;
      margin-top: 14px;
      display: block;
      @extend .thick;
      @extend .left-align;
    }

    .card-contents {
      margin: 6px 0 0 0;
      font-size: $content-size;
      width: 84%;
      overflow: hidden;
      line-height: inherit;
    }

    .card-rating {
      width: 100%;
      margin: 17px 0 0 0;
      display: block;
    }

    .card-star {
      vertical-align: middle;
      width: 15px;
      height: 15px;
      padding-right:5px;
    }

    .card-button {
      padding-left:116px;

      .btn  {
        @include btn-reset-shape($btn-width, $btn-height, $btn-background-emerald-color);
        @include btn-reset-font($content-size, $btn-text-white-color, $btn-height);
        @include btn-reset-offset($btn-padding);
      }
    }
  }
}
