.z-depth-1 {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

@mixin reset-basic-font-style {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: inherit;
}
