.card {
  position : relative;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  width: $card-width;
  height: $card-height;
  @extend .z-depth-1;

  .card-image {
    height: $image-height;
    overflow: hidden;
  }

  .float{
  	position: absolute;
  	width:69.6px;
  	height:69.4px;
  	bottom:101.6px;
  	right:17.4px;
    background-color: $white;
  	border-radius:50px;
  	text-align: center;
    line-height: inherit;
    @extend .z-depth-1;

    i {
      font-size: 40px;
      line-height: 65px;
      color: $thick-gray;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  @mixin reset-basic-font-style {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: inherit;
  }

  .card-content {
    height: $content-height;
    padding: 0;
    margin: 0;
    color: $thick-gray;
    display: block;

    .card-title {
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      padding: $content-padding;
      margin-top: 14px;
      line-height: 2rem;
      display: block;
      @include reset-basic-font-style;
    }

    p {
      margin: 6px 0 0 0;
      padding: $content-padding;
      font-size: 12px;
      width: 278px;
      height: 36px;
      background-color:red;
      overflow: hidden;
      @include reset-basic-font-style;
    }
    .card-1 {
      margin: 6px 0 0 0;
      padding: $content-padding;
      font-size: 12px;
      width: 278px;
      height: 36px;
      background-color:red;
      overflow: hidden;
      @include reset-basic-font-style;
    }
  }
}

.z-depth-1 {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}
