//Layout
$card-height: 400px !default;
$card-width : 330px !default;
$image-height: 264px !default;
$content-height: 136px !default;

$element-top-margin: 1.5rem/3 !default;
$element-bottom-margin: (1.5rem*2)/3 !default;
$card-padding: 24px !default;

$content-padding: 0 0 0 20px !default;

//color
$white: #ffffff !default;
$thick-gray: #797979 !default;
