// Guideline
//
// 1. Layout
// 2. Color
// 3. Button
// 4. Font
//
// ============================================================

// 1. Layout
// ============================================================
$card-padding: 24px !default;

$card-height: 400px !default;
$card-width : 330px !default;

$image-height: 264px !default;

$content-container-height: 136px !default;

$content-height: 36px !default;
$rating-height: 19px !default;
$rating-width: 100px !default;

$content-box-padding: 0 0 0 26px !default;

// 4. font
// ============================================================

$title-size: 18px !default;
$content-size: 12px !default;
