.register-container {
  position: relative;
  left: 0;
  top: 60px;
  background-color: $white-0;
  width: 100%;
  height: 100%;

  .container {
    padding: $register-container-padding;
    @include center;
    color: $gray-1;

    h1 {
      font-size: 28px;
      color: inherit;
      margin-bottom: 64px;
      @include thick;
    }

    .input-register {
      position: relative;
      margin: 0 auto;
      width: 39.1%;

      input, select {
        box-sizing: border-box;
      }

      select {
        -webkit-appearance: none; /* 화살표 없애기 for chrome*/
        -moz-appearance: none;    /* 화살표 없애기 for firefox*/
        -o-appearance:none;       /* 사파리 */
        appearance: none;         /* 화살표 없애기 공통*/

        background: url("#{$get-path-from-components-to-images}/icons/ic-select-arrow.svg") no-repeat 96%;
      }

      select::-ms-expand{
        display:none;
      }

      input[type=text],
      input[type=password],
      input[type=email],
      select {
        width: 100%;
        height: 56px;
        border-radius: 2px;
        background-color: $white;
        border: solid 1px #dfdfdf;
        padding-left: 121px;
        font-size: $font-size-14;

        &:focus {
          outline: none;
        }

        &.error {
          border: solid 1px red;
        }
      }

      input[type=submit] {
        margin:89px 0 75px 0;
        @include btn-reset-shape($btn-width-4, $btn-height-4, $btn-background-emerald-color);
        @include btn-reset-font($font-size-20, $btn-text-white-color, $btn-height-4);
        @include thick;
      }

      input[type=button] {
        position: absolute;
        top: 0;
        right: 0;
        @include btn-reset-shape($btn-width-2, $btn-height-2, $btn-background-gray-5-color);
        @include btn-reset-font($font-size-14, $btn-text-white-color, $btn-height-2);

        &.inspect-phone-btn {
          width: $btn-width-3;
        }

      }

      @include placeholder-sync(input);

      input:focus::-webkit-input-placeholder
      {
          color: transparent;
      }

      a {
        font-size: 12px;
        color: red;
        display: block;
        margin-top: 15px;
        padding-left: 18px;
        @include left-align;

        label {
          vertical-align: top;
          padding: 0 7px 0 0;
        }

        input[type=checkbox] {
          position: absolute;
          left: -999rem;
        }

        input[type="checkbox"] + label::before {
          width: 18px;
          height: 18px;
          line-height: 18px;

          box-sizing: border-box;
          display: inline-block;
          border-radius: 2px;
          background-color: #ffffff;
          border: solid 1px #dfdfdf;

          cursor: pointer;
          content: ' ';
        }

        input[type="checkbox"]:checked + label::before {
          background-color: red;
        }
      }

      .input-title {
        position: absolute;
        left: 14px;
        top: 16px;
        font-size: 16px;
        color: inherit;
      }

      //Only Margin
      &.name {
        margin-bottom: 50px;
      }
      &.type {
        margin-bottom: 20px;
      }
      &.college {
        margin-bottom: 56px;
      }
      &.phone {
        margin-bottom: 17px;
      }
      &.phone-auth {
        margin-bottom: 43px;
      }
    }
  }
}
